
.full_day {
    width: 14%;
    margin: 5px;
    display: flex;
    flex-flow: column;
}

.header {
    width: 100%;
    flex-grow: 1;
    flex-basis: 50px;
    background-color: var(--secondary-light);
}

.task_list {
    margin-top: 10px;
    width: 100%;
    flex-basis: 0;
    flex-grow: 999;
    background-color: var(--secondary-light);
}
