
.full_day {
    width: 14%;
    margin: 5px;
    display: flex;
    flex-flow: column;
    background-color: #E9EDF4;
}

.header {
    width: 100%;
    flex-grow: 1;
    flex-basis: 50px;
}

.task_list {
    width: 100%;
    flex-basis: 0;
    flex-grow: 999;
}
