.content_space {
    flex-basis: 0;
    flex-grow: 999;
    background-color: #F3F5F9;
}

.top_bar {
    flex-basis: 100px;
    flex-grow: 1;
    background-color: #E9EDF4;
}

.row_flex_container {
    flex-basis: 0;
    flex-grow: 999;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}