asgiref==3.6.0
Django==4.1.7
djangorestframework==3.14.0
pytz==2022.7.1
sqlparse==0.4.3
psycopg2-binary==2.9.5
Pillow==9.4.0
uWSGI>=2.0.21,<2.1
djangorestframework-simplejwt==5.2.2
django-filter==23.1
coreapi==2.3.3
coreschema==0.0.4
drf_yasg==1.21.5
inflection==0.5.1
itypes==1.2.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
uritemplate==4.1.1
django-cors-headers=3.14.0