
.full {
    display: flex;
    width: 100%;
    height: 100%;
}

.row_flex_container {
    display: flex;
    flex-basis: 100%;
}

.right_flex_container {
    flex-grow: 999;
    display: flex;
    flex-flow: column;
}

.left_flex_container {
    display: flex;
    flex-direction: column;
    background-color: #F3F5F9;
}

.scrollable {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    margin: 4px 0 20px;
    flex: 999;
    background-color: red;
}

.side_bar_list {
    display: flex;
    flex-flow: column;
    gap: 8px;
    padding: 0 16px 0 16px;
    flex: 999;
    background-color: #F3F5F9;
}

.side_bar_top {
    display: flex;
    flex-basis: 100px;
    background-color: #F3F5F9;
    padding: 20px 0 20px 20px;
}


@media screen and (min-width:900px) {

    #button {
        font-size: 16px;
        text-align: left;
        height: 40px;
        min-width: 200px;
    }

    .left_flex_container {
        flex-basis: 250px;
    }

    .side_bar_top {
    }
}

@media screen and (max-width:900px) {

    #button {
        /* Hide the text. */
        font-size: 0;
        height: 40px;
        min-width: 40px;
    }

    .left_flex_container {
        flex-basis: 72px;
    }

    .side_bar_top {

    }
}


.content_space {
    display: flex;
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 999;
    background-color: yellow;
    overflow: hidden;
    position: relative;
}

.top_bar {
    display: flex;
    flex-shrink: 0;
    flex-basis: 100px;
    flex-grow: 0;
    background-color: orange;
}



.icon {
    position: absolute;
    left: 8px;
}

.text {
    position: absolute;
    left: 48px;
    line-break: unset;
}

.button_default {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #F3F5F9;
    text-transform: none;
    background-color: #1C1C1C;
    border-radius: 8px;
    height: 100px;
}

.button_selected {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #E6E600;
    text-transform: none;
    background-color: #2D2F33;
    border-radius: 8px;
}

.button:hover {
    background-color: #2D2F33;
}
