.full {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: stretch;
    color: black;
    flex-grow: 1;
    padding: 20px;
    font-family: 'Inter', sans-serif;

    --primary-yellow: var(--primary-yellow);
    --primary-dark: var(--primary-dark);
    --secondary-dark: #2D2F33;
    --primary-light: var(--primary-light);
    --secondary-light: var(--secondary-light);
}

.issue_modal_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    border-radius: 2px;
}

/* ===============================
 * Rows
 * =============================== */

.top_row_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    height: 30%;
    flex-grow: 30;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

/* Bottom row */
.middle_row_divider {
    display: flex;
    height: 4%;
    flex-grow: 4;
}

.bottom_row_container {
    display: flex;
    flex-direction: row;
    height: 65%;
    flex-grow: 65;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

/* ===============================
 * Building data
 * =============================== */

.building_data_container {
    display: flex;
    width: 25%;
    height: 100%;
    text-align: left;
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-evenly;
}

.building_data_header {
    font-weight: normal;
    font-size: 32px;
}

.building_data_data {
}

.building_data_manual {
    color: black;
}


.building_desc_container {
    display: flex;
    width: 37.5%;
    height: 100%;
    text-align: justify;
    vertical-align: middle;
    align-items: center;
}

.building_imag_container {
    display: flex;
    width: 37.5%;
    height: 100%;
    vertical-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

.building_imag_container img {
    border-radius: 8px;
    overflow: hidden;
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
}

/* ===============================
 * Garbage schedule list
 * =============================== */


.garbage_schedule_list {
    display: flex;
    height: 100%;
    width: 40%;
    overflow: hidden;
    flex-direction: column;
}

.garbage_schedule_list_header {
    font-size: 24px;
    padding-left: 20px;
}

.garbage_schedule_list ul {
    height: auto;
    text-align: left;
    overflow: hidden;
    overflow-y: scroll;
}
