#topBar {
    width: 100%;
    height: 10%;
    padding: 1vw;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    color: black;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#title {
    padding-right: 5vh;
}

#title p {
    padding: 10px;
    font-size: 15px;
}

#search{
    margin-right: 5vh;
    background-color: #F3F5F9;
    border-radius: 20px;
    width: 40vh;
    height: 5vh;
}

.filters{

}

.button{
    height: 5vh;
    background-color: var(--primary-yellow);
    color: var(--primary-dark);
}

.list_bar {
        display: flex;
        gap: 16px;
        padding: 40px 16px 16px 16px;
        background-color: white;
        flex-basis: 200px;
        flex-grow: 0;
        flex-wrap: wrap;
        max-height: 100%;
        overflow: auto;
    }
#scroll_style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#scroll_style::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#scroll_style::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #E6E600;
}
.full_outer {
        padding: 40px 16px 16px 16px;
        background-color: white;
        height: 100%;
    }

.under_columns {
    display: flex;
    flex-wrap: wrap;
    height: 90%;
}

#item_button {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    text-align: left;
    align-items: flex-start;
    background-color: #E9EDF4;
}

.button_default {
    font-family: 'Inter', sans-serif;
    color: #1C1C1C;
    text-transform: none;
    background-color: #1C1C1C;
    border-radius: 8px;
}

.big_item_text {
    color: #1C1C1C;
    font-size: 20px;
    font-weight: bold;

}

.small_item_text {
    color: #808080;
    font-size: 10px;
}