.topBar {
    width: 100%;
    height: 80px;
    font-size: 20px;
    background-color: var(--primary-light);
    display: flex;
    gap: 16px;
    align-items: center;
}

.generic_wrapper {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: none;
    padding-bottom: 1vh;
    padding-top: 1vh;
    justify-content: space-around;
}

.filter_wrapper {
    overflow: hidden;
    display: flex;
    border: none;
    gap: 10px;
}


.title {
    padding-right: 5vh;
}

.title p {
    padding: 10px;
    font-size: 15px;
}

.search{
    background-color: var(--secondary-light);
    border-radius: 20px;
    min-width: 40vh;
}

.button:hover{
    background-color: #bbbec4;
}

.list_wrapper {
    padding: 0px 8px 16px 16px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    background-color: var(--primary-light);
    width: 25%;
}

.list_bar {
    display: flex;
    gap: 16px;
    background-color: var(--primary-light);
    flex-wrap: wrap;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}


.full_outer {
    padding: 40px 16px 16px 16px;
    height: 100%;
}

.under_columns {
    display: flex;
    flex-wrap: wrap;
    height: 40%;
}

#item_button {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    text-align: left;
    align-items: flex-start;
    color: var(--primary-dark);
    background-color: var(--secondary-light);
}

#item_button_select {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    text-align: left;
    align-items: flex-start;
    color: var(--primary-light);
    background-color: var(--primary-dark);
}

.button_wrapper {
    flex-wrap: wrap;
    background-color: var(--primary-light);
    width: 100%;
    padding: 0px 8px 0px 0px;
}


.listItemTextWrapper{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
}

.listItemRightSide{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.listItemLeftSide{
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

.button_default {
    word-break: break-word;
    font-family: 'Inter', sans-serif;
    color: var(--primary-dark);
    text-transform: none;
    background-color: var(--primary-dark);
    border-radius: 8px;
    width: 100%;
}

.button_default:hover{
    color: var(--primary-yellow);
}

.big_item_text {
    font-size: 100%;
    font-weight: bolder;
}


@media screen and (min-width:800px) {

    .very_big_item_text {
        font-size: 125%;
        font-weight: bolder;
        word-break: keep-all;
    }
}

@media screen and (max-width:800px) {

    .very_big_item_text {
        font-size: 75%;
        font-weight: bolder;
    }
}

.small_item_text {
    color: #808080;
    font-size: 75%;
}

.form{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.formCenter{
    background-color: var(--primary-light);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formFields{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vh;
}

.field {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: black;
}

.formButtons{
    position: relative;
    bottom: 0;
    width:100%;
    padding: 1vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: black;
}

.formButtonsEnd{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.search_container {
    display: flex;
    flex: 4;
    flex-basis: 200px;
    border-radius: var(--small_corner);
    background: var(--secondary-light);
    height: 30px !important;
    width: 100% !important;
}

@media screen and (max-width:1200px) {
    .collapse_text {
        display: none;
        font-size: 0;
    }

    .insert_button{
        display: flex;
        height: 30px !important;
        min-width: 40px !important;
        background: var(--secondary-light);
        border-radius: var(--small_corner);
        border-width: 0;
        text-transform: none;
        color: var(--primary-dark);
        margin-right: 20px;
    }

    .filter_button{
        height: 30px !important;
        width: 40px !important;
        background: var(--secondary-light);
        border-radius: var(--small_corner);
        border-width: 0;
        text-transform: none;
        color: var(--primary-dark);
        font-size: 0 !important;
    }

    .filter_button_text{
        height: 30px !important;
        width: 40px !important;
        background: var(--secondary-light);
        border-radius: var(--small_corner);
        border-width: 0;
        text-transform: none;
        color: var(--primary-dark);
    }

    .hide_select {
        width: 0 !important;
        box-shadow: none !important;
    }
}

@media screen and (min-width:1200px) {
    .collapse_text {
        font-size: 14px;
        font-weight: 300;
        text-overflow: ellipsis;
    }

    .insert_button{
        display: flex;
        height: 30px !important;
        flex-basis: 200px !important;
        background: var(--secondary-light);
        border-radius: var(--small_corner);
        border-width: 0;
        text-transform: none;
        color: var(--primary-dark);
        margin-right: 20px;
    }

    .filter_button{
        height: 30px !important;
        width: 130px !important;
        background: var(--secondary-light);
        border-radius: var(--small_corner);
        border-width: 0;
        text-transform: none;
        color: var(--primary-dark);
        font-size: 0 !important;
    }

    .filter_button_text{
        height: 30px !important;
        width: 130px !important;
        background: var(--secondary-light);
        border-radius: var(--small_corner);
        border-width: 0;
        text-transform: none;
        color: var(--primary-dark);
    }
}

.filters_container {
    display: flex;
    flex-grow: 1;
    gap: 10px;
}

.button_small{
    display: flex;
    height: 30px !important;
    width: 130px !important;
    background: var(--secondary-light);
    border-radius: var(--small_corner);
    border-width: 0;
    text-transform: none;
    color: var(--primary-dark);
    margin-right: 20px;
}
