.outerDiv {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    flex:1;
    width: 100%;
    max-width: 450px;
    color: black;
    align-items: center;
    overflow: hidden;
}

.title {
    display: flex;
    flex-basis: 80px;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    padding: 20px;
}

.dayDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dateText{
    font-size: 13px;
    padding-top: 10px;
    padding-left: 30px;
}

.button_default {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 13px;
    background-color: #F3F5F9;
    text-transform: none;
    color: #1C1C1C;
    border-radius: 8px;
    width: 100%;
}

.button_wrapper {
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}

.big_item_text {
    font-size: 100%;
    font-weight: bolder;
}

.listItemRightSide{
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.listItemLeftSide{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
    text-overflow: ellipsis;
}

.checkmark {
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.scroll {
    overflow: scroll;
    width: 100%;
    display: flex;
    flex: 1;
    flex-flow: column;
}
