.full {
    width: 100vw;
    height: 60vh;
    background-color: white;
    color: #1C1C1C;
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 25px;
}

.button_holder {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#button {
        /* Hide the text. */
        font-size: 0;
        height: 40px;
        min-width: 40px;
        margin: 10px;
    }

#button:hover {
    background-color: #2D2F33;
}

.button_default {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #E6E600;
    text-transform: none;
    background-color: #1C1C1C;
    border-radius: 8px;
}

.icon {
}