.outerDiv {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: black;
    align-items: center;
    padding: 5vh;
}

.title {
    font-size: 30px;
}
