#item_button {
    color: var(--primary-dark);
    background-color: var(--secondary-light);
}

#item_button_select {
    color: var(--primary-light);
    background-color: var(--secondary-dark);
}

.full {
    display: flex;
    height: 76px;
    width: max(76px, 100%);
}

.button_default {
    display: flex;
    height: 76px;
    word-break: break-word;
    font-family: 'Inter', sans-serif;
    color: #1C1C1C;
    text-transform: none;
    background-color: #1C1C1C;
    border-radius: 8px;
    width: 100%;
}

.button_default:hover{
    width: 100%;
    text-align: left;
    color: #E6E600;
}

.big_item_text {
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
}

.small_item_text {
    width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    font-size: 10px;
    font-weight: 300;
}

@media screen and (min-width:750px) {
    .content_container {
        display: flex;
        flex-flow: column;
        flex-grow: 1;
        height: 100%;
    }

    .state_container {
        display: flex;
        flex-basis: 20px;
        height: 100%;
        padding-bottom: 50px;
    }
}


@media screen and (max-width:750px) {
    .content_container {
        display: none;
    }

    .state_container {
        display: flex;
        flex-basis: 20px;
        height: 100%;
        padding: 20px;
    }
}

.icon_container {
    position: absolute;
    right: 5px;
}

.image {
    width: 55px;
    height: 55px;
    margin: auto;
}
