.full {
    display: flex;
    width: min(100%, 100wh);
    height: min(100%, 100vh);
}

.row_flex_container {
    display: flex;
    flex-basis: 100%;
}

.right_flex_container {
    flex-grow: 999;
    display: flex;
    flex-flow: column;
}

.left_flex_container {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-dark);
}

.scrollable {
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    margin: 40px 0 8px;
    flex: 999;
}


.side_bar_mid {
    display: flex;
    flex-flow: column;
    gap: 8px;
    padding: 0 16px 0 16px;
    flex: 999;
    background-color: var(--primary-dark);
}

.side_bar_top {
    display: flex;
    flex-basis: 56px;
    background-color: var(--primary-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 144px;
}

.side_bar_bot {
    display: flex;
    flex-flow: column;
    flex: 1;
    gap: 8px;
    padding: 50px 16px 40px 16px;
    background-color: var(--primary-dark);
}



@media screen and (min-width:950px) {

    #button {
        font-size: 14px;
        text-align: left;
        height: 40px;
        min-width: 190px;
    }

    .left_flex_container {
        flex-basis: 200px;
    }

    .side_bar_top {
        background-image: url('../../../../public/media/logo_drtrottoir.svg');
        background-size: 144px;
    }
}

@media screen and (max-width:950px) {

    #button {
        /* Hide the text. */
        font-size: 0;
        height: 40px;
        min-width: 40px;
    }

    .left_flex_container {
        flex-basis: 72px;
    }

    .side_bar_top {
        background-image: url('../../../../public/media/drtrottoir_icon.svg');
        background-size: 32px;
    }
}


.content_space {
    display: flex;
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 999;
    background-color: var(--primary-light);
    overflow: hidden;
    position: relative;
}

.top_bar {
    display: flex;
    flex-shrink: 0;
    flex-basis: 56px;
    flex-grow: 0;
    background-color: var(--primary-dark);
}



.icon {
    position: absolute;
    left: 8px;
}

.text {
    position: absolute;
    left: 48px;
    line-break: unset;
}

.button_default {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
<<<<<<< HEAD
    color: var(--primary-light);
    text-transform: none;
    background-color: var(--primary-dark);
=======
    color: var(--primary-light) !important;
    text-transform: none;
    background-color: var(--primary-dark) !important;
>>>>>>> development
    border-radius: 8px;
}

.button_selected {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
<<<<<<< HEAD
    color: var(--primary-yellow);
=======
    color: var(--primary-yellow) !important;
>>>>>>> development
    text-transform: none;
    background-color: var(--secondary-dark) !important;
    border-radius: 8px;
}

.button:hover {
    background-color: #2D2F33;
}
