
.full {
    width: 100vw;
    height: 100vh;
}

.row_flex_container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.right_flex_container {
    flex-basis: 0;
    flex-grow: 999;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}


@media screen and (min-width:900px) {

    .left_flex_container {
        flex-basis: 256px;
        flex-grow: 0;
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
    }

    .side_bar_mid {
        display: flex;
        flex-flow: column;
        gap: 16px;
        padding: 16px;
        flex-basis: 0;
        flex-grow: 999;
        background-color: #1C1C1C;
    }
    .side_bar_top {
        flex-basis: 56px;
        flex-grow: 1;
        background-color: #1C1C1C;
        background-image: url('../../../../public/media/logo_drtrottoir.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 144px;
    }
    .side_bar_bot {
        display: flex;
        flex-flow: column;
        gap: 16px;
        padding: 16px;
        flex-basis: 80px;
        flex-grow: 1;
        background-color: #1C1C1C;
    }
}

@media screen and (max-width:900px) {

    .left_flex_container {
        flex-basis: 56px;
        flex-grow: 1;
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
    }

    .side_bar_mid {
        display: flex;
        flex-flow: column;
        gap: 16px;
        padding: 16px;
        flex-basis: 0;
        flex-grow: 999;
        background-color: #1C1C1C;
    }

    .side_bar_top {
        flex-basis: 56px;
        flex-grow: 1;
        background-color: #1C1C1C;
        background-image: url('../../../../public/media/drtrottoir_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40px;
    }

    .side_bar_bot {
        display: flex;
        flex-flow: column;
        gap: 16px;
        padding: 16px;
        flex-basis: 56px;
        flex-grow: 1;
        background-color: #1C1C1C;
    }
}

.content_space {
    flex-basis: 0;
    flex-grow: 999;
    background-color: #F3F5F9;
}

.top_bar {
    flex-basis: 56px;
    flex-grow: 1;
    background-color: #1C1C1C;
}






.button {
    height: 40px;
    min-width: 40px;
    background-color: #2D2F33;
    border-radius: 8px;
}

.button:hover {
    background-color: #2D2F33;
}
